body {
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hide {
    display: none !important;
}

.m-t {
    margin-top: 15px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t-xl {
    margin-top: 30px;
}

.m-l {
    margin-left: 15px;
}

.m-l-xxl {
    margin-left: 80px;
}

.m-b {
    margin-bottom: 15px;
}

.pull-right {
    float: right;
}

.clear_both {
    clear: both;
}

/* ============= */
input:focus {
    outline: none
}

.menu {
    background-color: #F6F6F6;
    display: inline-block;
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 40px rgba(16, 32, 48, 0.2);
    opacity: 1;
    float: left;
}

.map_div {
    display: inline-block;
    width: calc(100% - 300px);
    float: left;
}

#mapid {
    height: 500px;
}

.search_box {
    padding: 15px;
}

.search_bar_div {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
}

.search_bar {
    border: 0;
    width: 100%;
}

.pretty_select {
    margin: 5px 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(img/select-arrow.svg) no-repeat right center transparent;
    background-size: 25px;
    border: 0px;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    padding: 8px 40px 8px 5px;
    color: gray;
    border: #E2E2E2 solid 1px;
}

.pharmacy_word {
    color: #333333;
}

.pharmacy_num {
    color: #668AFE;
    font-size: 24px;
}

.pharmacy_card {
    background-color: #ffffff;
    padding: 20px;
    color: #333333;
    font-size: 18px;
    border-bottom: 1px solid #E2E2E2;
}

.pharmacy_card span,
.info_card span {
    color: #888888;
    font-size: 14px;
}

.type_count {
    background-color: #E2E2E2;
    width: 50%;
    display: inline-block;
    float: left;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    color: #9C9C9C;
}

.type_count:first-child {
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #fff;
    box-sizing: border-box;
}

.type_count:nth-child(2) {
    border-radius: 0 4px 4px 0;
}

.sufficient {
    background-color: #668AFE;
    color: #fff;
}

.info_card {
    width: 250px;
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 30px;
}

@media (max-width:768px) {}